<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/questions.css">
    <title>Stack Overflow Clone</title>
</head>

<body>
    <%- include('./partials/navbar') %>

        <h1>Questions</h1>
        <% if (questions.length> 0) { %>
            <ul>

                <% questions.forEach(question=> { %>
                    <li class="questionCard" onclick="window.location.href='/questions/<%= question._id %>'"
                        style="cursor: pointer;">
                        <h3 href="/questions/<%= question._id %>">
                            <%= question.title %> :
                        </h3>
                        <p>
                            &nbsp;&nbsp;&nbsp;<%= question.description %>
                        </p>
                        <small>Asked by <%= question.user.username %> on <%= question.date.toDateString() %></small>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No questions yet.</p>
                <% } %>
</body>

<%- include('./partials/footer') %>

</html>